/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./back-link.css');


/*-----Timer-----*/
.input {
 margin-top: 20px;
 margin-bottom: 40px;
}

.input-field {
 box-sizing: border-box;
 width: 200px;
 height: 30px;
 font-size: 16px;
 text-align: center;
 border: 1px solid;
 border-radius: 8px;
 margin-right: 10px;
}

.start-button { 
 box-sizing: border-box; 
 width: 70px;
 height: 30px;
 font-size: 16px;
 text-align: center;
 border: 1px solid;
 border-radius: 8px;
}

.start-button:enabled:hover {
 background-color: #3A75C4;
 color: azure;
}

.timer {
 display: flex;
 gap: 15px;
 justify-content: center;
 align-items: center;
}

.field {
 display: flex;
 flex-direction: column;
 align-items: center; 
}

.value {
 font-size: 30px;
 font-weight: bold;
}

.label {
 font-size: 16px;
}



/*-----Snackbar-----*/
.form {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
}

.label {
 display: flex;
 flex-direction: column;
 gap: 8px;
 font-size: 16px;
 margin-top: 20px;
 margin-bottom: 5px;
 align-items: center;
}

.delay {
 box-sizing: border-box; 
 width: 300px;
 height: 40px;
 border: 1px solid;
 border-radius: 8px;
 padding: 0 10px;
 text-align: center;  
 font-size: 16px;
}

.fieldset{
 box-sizing: border-box; 
 width: 300px;
 border-radius: 8px;
}

.radio-state {
 width: 200px;
 border: transparent;
}

.create-button {
 box-sizing: border-box; 
 width: 300px;
 height: 30px;
 font-size: 16px;
 text-align: center;
 border: 1px solid;
 border-radius: 8px;
}

.create-button:hover {
 background-color: #3A75C4;
 color: azure;
}